@import '../../resources/styles/settings.scss';

.balance {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__total {
		width: 100%;
		text-align: center;
		margin-bottom: gridSpacing(5);
	}
	
	&__totalTitle {
		color: $grey-4;
		font-size: 14px;
		margin-bottom: 2px;
	}

	&__totalValue {
		font-size: 32px;
		font-family: $mono;
	}

	&__list {
		width: 100%;
		list-style: none;
		margin: 0 0 gridSpacing(5);
		padding: 0;
		font-size: 14px;
	}

	&__listItem {
		width: gridSpacing(35);
		display: flex;
		justify-content: space-between;
		margin: 0 auto;

		&:last-child {
			margin-top: gridSpacing(1);
			padding-top: gridSpacing(1);
			border-top: 1px solid $grey-4;
			font-weight: 600;
		}
	}

	&__listItemValue {
		font-family: $mono;

		&--red {
			color: $red;
		}

		&--green {
			color: $green;
		}
	}
}