@import "./resources/styles/settings.scss";

* {
	box-sizing: border-box;
}

body {
	color: $white;
	background-color: $grey-1;
	font-family: $sans;
}

h3 {
	color: $grey-4;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}


// DELETE!!!
.nav {
	position: absolute;
}