@import '../../resources/styles/settings.scss';

.yearView {
	margin: gridSpacing(12) 0;

	&__header {
		display: flex;
		height: 80px;
		align-items: center;
		justify-content: space-between;
		margin: 0 gridSpacing(2);
	}

	&__boxes {
		display: flex;

		@media only screen and (max-width: 1000px) {
			flex-wrap: wrap;
		}

		& > * {
			background-color: $grey-2;
			padding: gridSpacing(4);
			border-radius: 8px;
			margin: 0 gridSpacing(2);

			@media only screen and (max-width: 1000px) {
				width: 100%;
				margin: gridSpacing(2);
			}
		}
	}

	&__skeleton {
		height: 413px;
		position: relative;
	}
}