@import '../../resources/styles/settings.scss';

.monthView {
	&__boxes {
		display: flex;

		@media only screen and (max-width: 1000px) {
			flex-wrap: wrap;
		}

		& > * {
			background-color: $grey-2;
			padding: gridSpacing(4);
			border-radius: 8px;
			width: 50%;
			
			&:first-child {
				margin-right: gridSpacing(2);
			}

			&:last-child {
				margin-left: gridSpacing(2);
			}

			@media only screen and (max-width: 1000px) {
				width: 100%;
				margin: gridSpacing(2);
			}
		}
	}

	&__skeleton {
		height: 413px;
		position: relative;
	}
}