@import '../../resources/styles/settings.scss';

.doughnut {
	display: flex;
	flex-wrap: wrap;

	&__selectWrapper {
		display: flex;
		margin: 0 auto;
	}

	&__chartWrapper {
		display: flex;
		width: 100%;
		
		@media only screen and (max-width: 1000px) {
			width: auto;
			margin: 0 auto;
		}
	}

	&__chart {
		width: gridSpacing(30);
    	padding: 0 gridSpacing(10) 0 gridSpacing(5);
	}

	&__legend {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 50%;
	}

	&__legendItem {
		display: flex;
		align-items: center;
		margin-bottom: gridSpacing(0.5);
		font-size: 14px;

		&:last-child {
			margin-bottom: none;
		}
	}

	&__legendColor {
		display: inline-block;
		height: gridSpacing(2);
		width: gridSpacing(2);
		border-radius: 100%;
		margin-right: gridSpacing(1);
		flex-shrink: 0;
	}

	&__legendName {
		margin-right: gridSpacing(1);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&__legendAmount {
		font-family: $mono;
		color: $grey-4;
		flex-shrink: 0;
	}
}