@import '../../resources/styles/settings.scss';

.doughnut {
	display: flex;
	flex-wrap: wrap;

	&__selectWrapper {
		display: flex;
		margin: 0 auto;
	}

	&__chartWrapper {
		display: flex;
		width: 100%;
		
		@media only screen and (max-width: 1000px) {
			width: auto;
			margin: 0 auto;
		}
	}

	&__chart {
		width: gridSpacing(30);
		padding: 0 gridSpacing(10) 0 gridSpacing(5);
	}

	&__legend {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 50%;
	}
}