@import '../../resources/styles/settings.scss';

.entryPoint {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&__loading {
		pointer-events: none;
		width: 2.5em;
		height: 2.5em;
		border: 0.4em solid transparent;
		border-color: $grey-2;
		border-top-color: $grey-4;
		border-radius: 50%;
		animation: loadingspin 1s linear infinite;
	}
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}